<section id="projects">
  <div class="container-fluid py-3 pt-5" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="600"
    data-aos-once="true">
    <div class="text-dark text-center h3">Projects</div>
    <div class="row justify-content-center pt-2">
      {{ range ( where .Site.RegularPages "Type" "project" ) }}
      <div class="col-md-8 pro m-3 shadow" data-aos="fade-up" data-aos-duration="1500" data-aos-once="true">
        <div class="row">
          <div class="col-md-4 bg-pro">
            {{ if .youtubeLink }}
            <iframe width="560" height="315" src="{{ .youtubeLink }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            {{ end }}
            {{ if .img }}
            <img width="560" height="315" src="{{ .img }}" alt="{{ .name }}" />
            {{ end }}
          </div>
          <div class="col-md-6 content-pro p-3 bg-light">
            <div class="content-pro-top">
              <h2>{{ .Title }}</h2>
              <p class="card-text pt-2">
                {{ .Params.description }}
              </p>
            </div>
            <span class="float-right">
              {{ if .Params.featured }}
              <a href="{{ .Params.featured }}" class="px-1">
                <i class="fas text-info fa-link"></i>
              </a>
              {{ end }}
              {{ if .Params.github }}
              <a href="{{ .Params.github }}" class="px-1 pr-2">
                <i class="fab text-dark fa-lg fa-github pro-github"></i>
              </a>
              {{ end }}
              <a class="btn btn-sm pro-btn btn-outline-info" target="_blank" href="{{ .Permalink }}">
                Know more...
              </a>
            </span>
          </div>
        </div>
      </div>
      {{ end }}
      {{ range .Site.Params.projects }}
      {{ if .featuredlink}}
      <div onclick="window.open('{{ .featuredlink }}','_blank');" style="cursor: pointer;" class="col-md-9 pro m-3 shadow" data-aos="fade-up" data-aos-duration="1500" data-aos-once="true">
      {{ else }}
      <div class="col-md-9 pro m-3 shadow" data-aos="fade-up" data-aos-duration="1500" data-aos-once="true">
      {{ end }}
        <div class="row">
          <div class="bg-pro">
            {{ if .youtubeLink }}
            <iframe width="560" height="315" src="{{ .youtubeLink }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            {{ end }}
            {{ if .img }}
            <img width="560" height="315" src="{{ .img }}" alt="{{ .name }}" />
            {{ end }}
          </div>
          {{ if .youtubeSiteLink}}
            <div onclick="window.open('{{ .youtubeSiteLink }}','_blank');" style="cursor: pointer;" class="col content-pro p-3 bg-light">
          {{ else }}
          <div class="col content-pro p-3 bg-light">
            {{ end }}
            <div class="content-pro-top">
              <div class="card-title pr-4">{{ .name }}</div>
              <div class="card-text pr-4 pt-2">
                {{ .description }}
              </div>
            </div>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
